@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

 
body {
  font-family: "Montserrat", sans-serif;
}

 
::-webkit-scrollbar{
  display: none;
}

.sticky_header{
  position: sticky;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 99999;
  background-color:'#fdefe6';
}