@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

 
body {
  font-family: "Montserrat", sans-serif;
}

 
::-webkit-scrollbar{
  display: none;
}

.sticky_header{
  position: sticky;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 99999;
  background-color:'#fdefe6';
}

.product-bg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.439),rgba(0, 0, 0, 0.382)),url(
    ../src/app/assets/images/bg.jpg
  );
  padding:100px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.product-input{
  @apply w-full border outline-none py-1 rounded px-2 text-sm border-gray-300
}
.product-title{
  @apply font-medium text-orange-500 text-sm
}